*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: navy;
    color: white;
    
    vertical-align: middle;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: navy;
}
img{
    height: 150px;
    width: 150px; 
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 10px;
}
.score-board{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,
#comp-score{
font-size: 4rem;
}
.message{
    margin-top: 5rem;
}
#msg{
    background-color: navy;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}